 ---
import '../styles/globals.scss';
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>01вкладка.рф</title>
  </head>

  <body>
    <slot />
  </body>
</html>